/////////////////
// Scaffolding //
/////////////////

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-overflow-style: scrollbar;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	min-width: 300px;
	font-family: $font-primary;
	background: #fff;
}


//////////////////
// Basic Layout //
//////////////////

.wrapper {
	main {
    	position: relative;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        left:0;
	}
	&.active {
		overflow: hidden;

		main {
			left: 270px;
		}
	}

	.blocker {
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 2;
	    display: none;
	    overflow: hidden;
	    outline: 0;
	    background: #c6c6c6;
	    opacity: 0.5;

	    &.active {
	    	display: block;
	    }
	}
}

aside {

}

footer {
	
}

.flex-box {
	display: flex;
}


/////////////
// Content //
/////////////


